version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend/src:/app/src
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1

  ml:
    build:
      context: ./ml
      dockerfile: Dockerfile
    volumes:
      - ./ml/src:/app/src
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend/src:/app/src
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true

networks:
  default:
    driver: bridge